[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Qml2OpenGl
Exec=/opt/Qml2OpenGl/bin/Qml2OpenGl
Icon=Qml2OpenGl64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
